*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 8px;
    padding: 0px 8px;
    background-color: coral;
    border-radius:10px ;
}

header h1{
    color: rgb(10, 82, 82);
}

header ul{
    display: flex;
    gap: 15px;
    list-style: none;    
}

.slider img{
    width: 98%;
   margin: 5px;
   margin-top: -5px;
   border-radius: 10px;
}

.search{
    width: 98%;
    margin: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 9px;
    border: none;
    outline:none ;
    border-radius: 10px;
    background-color: darkgrey;
}

.prdt-card{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 8px;

}

.prdt-card img{
    width: 95%;
    height: 160px;
    border-radius: 10px;
}

.prdt-card h2{
    color: coral;
    margin: 8px;
}

.prdt-card p,h4{
    margin: 6px;
}


.prdt-sec:hover{
    cursor: pointer;
    scale: 1.0;
    border: 1px solid tomato;
    border-radius: 10px;
}

.prdt-sec .rat{
    color: rgb(14, 134, 46);
    font-size: 16px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #c8bebe;
    padding: 10px;
}

.heading p{
    font-size: 20px;
   color: rgb(40, 9, 107);
}

.heading button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: chocolate;
    font-size: 15px;
}

.heading button:hover{
    cursor: pointer;
}


@media(max-width:767px){
    .prdt-card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
    
    }
}